.aircraft-display {
  height: 120px;
  width: 120px;

  border: 2px rgba(255, 255, 255, 0.4) solid;
  border-radius: 10px;
}

.display-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name-display-container {
  margin-top: 2rem;
}

.name-display {
  display: flex;
  justify-content: space-between;
}

.name-display-key,
.name-display-value {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.2;

  padding: 0.25rem 2rem;
}

.name-display-key {
  text-align: left;
  color: #fff;
}

.name-display-value {
  text-align: right;
  color: rgba(255, 255, 255, 0.6);
}
