.oreo-button {
  height: 65px;
  width: 400px;

  border: 2px solid #52525b;
  border-radius: 50px;
  background: #fff;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.2s ease;

  &:hover {
    background: #f4f4f5;
    border-radius: 15px;

    cursor: pointer;
  }

  &:active {
    background: #e4e4e7;
  }
}

.oreo-button-text {
  font-size: 3rem;
  font-weight: bold;

  font-family: 'Patrick Hand', cursive;

  padding-left: 1rem;
}
