.rounded-button {
  border-radius: 50px;
  border: 2px solid #52525b;
  background: #fff;

  transition: all 0.2s ease;

  font-size: 1.2rem;
  font-family: "Patrick Hand", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

  &:hover {
    background: #f4f4f5;
    border-radius: 15px;
    cursor: pointer;
  }

  &:active {
    background: #e4e4e7;
  }
}

.rounded-button.inverted {
  background: #52525b;
  color: #fff;

  &:hover {
    background: #71717a;
  }

  &:active {
    background: #3f3f46;
  }
}

.editor-title-button {
  width: 100px;
  height: 50px;
}

.editor-set-button,
.editor-set-button-half {
  margin-top: 0.5rem;

  font-family: inherit;
  font-size: 2rem;
  font-weight: bold;

  text-align: center;
}

.editor-set-button {
  height: 65px;
  width: 400px;
}

.editor-set-button-half {
  height: 65px;
  width: 190px;
}

.editor-set-button-row {
  display: flex;
  gap: 10px;

  justify-content: space-around;
  align-items: center;
}

.result-button,
.result-button-half {
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: bold;

  text-align: center;
}

.result-button {
  height: 40px;
  width: 300px;
}

.result-button-half {
  height: 40px;
  width: 145px;
}
