.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .main-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    font-variant: small-caps;
  }

  .main-subtitle {
    color: #8c8c8c;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-variant: small-caps;
  }
}