.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .main-title-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .main-title {
      font-size: 4.5rem;
      font-weight: bold;

      padding: 1rem;

      font-variant: small-caps;
    }
  }

  .main-subtitle {
    color: #8c8c8c;
    font-size: 1.5rem;
    padding-bottom: 1rem;
    font-variant: small-caps;

    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
}

.title-image {
  height: 50px;
  width: 50px;
}

@media (max-width: 748px) {
  .title-container {
    padding-top: 30%;
    .main-title-container {
      .main-title {
        font-size: 1.5rem;
      }
    }

    .main-subtitle {
      font-size: 1rem;
    }
  }

  .show-if-large {
    display: hidden;
  }

  .title-image {
    height: 25px;
    width: 25px;
  }
}
