:root {
  /* parameters copied and pasted from modernjs.dev */
  --color-theme-blue: #00b3ff;

  --navbar-height: 2.5rem;
  --navbar-bg-color: #000;
  --navbar-padding-horizontal: 16px;
  --navbar-padding-vertical: 8px;

  --navbar-item-fontweight-normal: 400;
  --navbar-item-fontweight-semibold: 500;
  --navbar-item-padding-vertical: 0.25rem;
  --navbar-item-padding-horizontal: 0.75rem;
}

body {
  margin: 0;
  background-color: #000;
  color: #fff;
}

.navbar {
  top: 0;
  position: sticky;
  background-color: var(--navbar-bg-color);
  padding: var(--navbar-padding-vertical) var(--navbar-padding-horizontal);
  height: var(--navbar-height);
  border-bottom: rgba(46, 232, 246, 0.3) solid 1px;
}

.navbar-inner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .navbar-inner */

.navbar-links {
  display: flex;
  align-items: center;

  &--brand {
    display: flex;
    align-items: center;
    margin-right: 2rem;
  }

  &--text {
    text-decoration: none;
    color: white;
    font-weight: var(--navbar-item-fontweight-semibold);

    transition: color 0.2s ease;

    &:hover {
      color: var(--color-theme-blue);
      font-weight: var(--navbar-item-fontweight-normal);
    }
  }

  &--item {
    padding: var(--navbar-item-padding-vertical) var(--navbar-item-padding-horizontal);
  }

  &--icon {
    margin: var(--navbar-item-padding-vertical) 0;
    margin-right: 0.5rem;

    &:hover {
      cursor: pointer;
    }
  }

  &--github::before {
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23fff' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E") no-repeat;
    content: "";
    display: flex;
    height: 24px;
    width: 24px;
  }

  &--input {
    height: 1.75rem;
    outline: 0;
    border-width: 0;

    color: #fff;
    background-color: rgba(255, 255, 255, 0.2);

    border-radius: 5px;

    width: 12rem;
  }
}

/* .navbar-links */

.navbar-search {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .navbar-search */

.show-unless-large {
  display: none;
}

.hide-unless-large {
  display: inherit;
}

.header-container {
  height: 691px;
  background-image: url(//lf-cdn-tos.bytescm.com/obj/static/webinfra/modern-js-website/assets/images/bg-2ea3cd2cbfbb36e34bf70e6de4592b24.png);
  background-size: cover;
  background-position: bottom;
  background-origin: border-box;
  box-sizing: border-box;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  padding: 4rem 2rem;
  padding-left: 18%;

  .header-logo {
    margin-top: 60px;
    width: 540px;
  }

  h1 {
    font-size: 4rem;
    margin: 1rem 0;
  }

  .header-buttons {
    display: flex;
    flex-direction: row;
    gap: 2rem;

    margin-top: 5rem;

    &--btn {
      display: flex;
      align-items: center;
      justify-content: center;

      text-decoration: none;

      border-radius: 25px;

      height: 40px;
      width: 120px;

      transition: all 0.5s ease;
    }
  }
}

.subsec-title {
  font-size: 2rem;
  color: transparent;
  background: linear-gradient(90deg, #60dee8 -2%, #dca1e7 20.54%);
  background-clip: text;
  -webkit-background-clip: text;
  margin: 1rem 0;
}

.btn-t1 {
  color: rgba(0, 0, 0);
  background-color: var(--color-theme-blue);
  border: var(--color-theme-blue) solid 1px;

  &:hover {
    background-color: #64cfde;
    border-color: #64cfde;
  }
}

.btn-t2 {
  color: var(--color-theme-blue);
  background-color: rgba(255, 255, 255, 0.1);
  border: var(--color-theme-blue) solid 1px;

  &:hover {
    color: #64cfde;
    border-color: #64cfde;
  }
}

.swiper {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;

  border-top: rgba(46, 232, 246, 0.3) solid 1px;
  border-bottom: rgba(46, 232, 246, 0.3) solid 1px;
}

.swiper-inner {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.swiper-item {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 56px;
  font-size: 1.2rem;

  &:hover {
    cursor: pointer;
    background: linear-gradient(0,
        rgba(46, 232, 246, 0.3),
        rgba(0, 238, 255, 0));
  }
}

.pigeon {
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  font-size: 5rem;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 24px;
  column-gap: 16px;

  .transparent-card {
    background-color: transparent;
    border: 1px solid hsla(0, 0%, 100%, 0.2);
    border-radius: 8px;

    flex: 1 1 24%;
    max-width: 24%;
    height: 280px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;

    color: #fff;
    text-decoration: none;
    padding: 56px 32px;

    transition: all 0.2s ease;

    &:hover {
      background-color: rgba(78, 202, 255, .2);
    }

    &--icon {
      fill: #fff;
      flex: 0 0 48px;
      height: 48px;
      width: 48px;
    }

    &--content {
      color: #fff;
      margin-top: 30px;
      font-size: 20px;
    }
  }
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 24px;
  column-gap: 16px;

  margin-top: 25px;

  .wrap-card {
    background-color: hsla(0, 0%, 100%, 0.1);
    border: 1px solid hsla(0, 0%, 100%, 0.2);

    height: 135px;
    max-width: 32%;
    border-radius: 10px;

    flex: 1 1 32%;

    transition: all 0.2s ease;

    display: flex;
    align-items: center;
    gap: 16px;

    padding: 0 2rem;
    box-sizing: border-box;

    text-decoration: none;

    &:hover {
      background-color: rgba(78, 202, 255, .2);
    }

    &--icon {
      fill: #fff;
      flex: 0 0 48px;
      height: 48px;
      width: 48px;
    }

    &--content {
      color: #fff;
    }
  }
}

.sec-mwa,
.sec-features {
  max-width: 1240px;
  width: 100;
  margin: 0 auto;
  padding-top: 4rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  h2 {
    font-size: 48px;
    margin: 0;
    margin-bottom: 2rem;
  }
}

.title-container {
  padding-top: 27px;
  background-image: url(//lf-cdn-tos.bytescm.com/obj/static/webinfra/modern-js-website/assets/images/text-bg-514e93f433d71d49dc968baa96d87e27.png);
  background-size: 520px 40px;
  background-repeat: no-repeat;

  display: flex;
  justify-content: space-between;
}

.spinner-container {
  height: 93px;
  width: 90px;
  position: relative;

  .spinner-img {
    position: absolute;
    left: 0;
    top: 0;
    max-height: 100%;
    max-width: 100%;
  }

  .spinner {
    animation: rotation 50s infinite linear;
  }

  .title-sec-number {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    z-index: 1;

    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    color: black;
    font-size: 24px;
  }
}

/* tablets */
@media (max-width: 950px) {

  .sec-features,
  .sec-mwa {
    padding: 70px 25px;
  }

  .hide-unless-large {
    display: none;
  }

  .show-unless-large {
    display: inherit;
  }

  .navbar-links--input {
    width: 9rem;
  }

  .header-container {
    padding-left: 0;
    padding-right: 0;
  }

  .card-list {
    .wrap-card {
      flex: 1 1 48%;
      max-width: 48%;
    }
  }

  .card-container {
    justify-content: space-between;
    .transparent-card {
      flex: 1 1 49%;
      max-width: 49%;
    }
  }
}

/* special */
@media (max-width: 1280px) {
  .card-container {
    .transparent-card {
      flex: 1 1 48%;
      max-width: 48%;
    }
  }
}

/* mobile phones */
@media (max-width: 700px) {
  .title-container {
    padding-top: 4.5vw;
    background-size: 55vw 5vw;

    h2 {
      font-size: 5vw;
    }
  }

  .spinner-container {
    display: none;
  }

  .navbar-links--input {
    width: 3rem;
  }

  .header-container {
    align-items: center;

    background-image: url(//lf-cdn-tos.bytescm.com/obj/static/webinfra/modern-js-website/assets/images/banner-mobile-bg-9d94c86efc8d6cf60c026b28f4536fa6.png);
    width: 100vw;

    h1 {
      font-size: 2rem;
    }

    .header-buttons {
      margin-top: 2rem;
      flex-direction: column;

      &--btn {
        width: 60vw;
      }
    }

    .header-logo {
      width: 70vw;
    }
  }

  .card-list {
    margin-top: 0;
    row-gap: 8px;
    column-gap: 0;

    .wrap-card {
      height: 70px;
      flex: 1 1 100%;
      max-width: 100%;

      &--icon {
        flex: 0 0 32px;
        height: 32px;
        width: 32px;
      }

      &--content {
        font-size: 0.75rem;
      }
    }
  }

  .card-container {
    row-gap: 8px;
    column-gap: 8px;

    .transparent-card {
      flex: 1 1 48%;
      max-width: 48%;
      height: 34vw;

      padding: 32px 4vw;

      &--icon {
        flex: 0 0 16px;
        height: 16px;
        width: 16px;
      }

      &--content {
        font-size: 0.8rem;
        margin-top: 0.5rem;
      }
    }
  }
}

/* animations */
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}