.title {
  text-align: center;
  font-variant: small-caps;
  font-size: xx-large;

  padding-top: 2rem;
  padding-bottom: 0;
}

.control-container {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  padding-top: 1.5rem;
  padding-bottom: 1.5em;
}

.control-btns-container {
  display: flex;
  gap: 1rem;
}

.score-board {
  display: flex;
  gap: 2rem;

  padding-top: 1rem;
  padding-bottom: 1rem;
}

.variable-button {
  padding: 0.75rem 2rem 0.75rem 2rem;
  border: 2px solid black;
  border-radius: 25px;

  transition-duration: 0.5s;
  cursor: pointer;
}

.variable-button:hover {
  border-radius: 10px;
}

.checkboard-container {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

.checkboard-row {
  display: flex;
}

.checkboard-cell {
  display: flex;

  align-items: center;
  justify-content: center;

  height: 2rem;
  width: 2rem;

  border: 1px solid black;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;
  background-color: rgba(16, 16, 16, 0.5);
}

.modal-container h2 {
  margin-top: 3rem;
  text-align: center;
}

.modal-container h3 {
  text-align: center;
}

.hidden {
  display: none;
}

.help-text-container li {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.modal-help,
.modal-endgame {
  display: flex;
  flex-direction: column;

  width: 25rem;
  height: 25rem;
  border-radius: 1rem;

  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);

  background-color: white;
}

#score-display {
  text-align: center;
  font-size: 6rem;
}

.help-btn-container,
.endgame-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;

  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
