.title {
  text-align: center;
  font-variant: small-caps;
  font-size: xx-large;

  padding-top: 2rem;
  padding-bottom: 0;
}

.control-container {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  padding-top: 1.5rem;
  padding-bottom: 1.5em;
}

.score-board {
  display: flex;
  gap: 2rem;
  
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.variable-button {
  padding: 0.75rem 2rem 0.75rem 2rem;
  border: 2px solid black;
  border-radius: 25px;

  transition-duration: 0.5s;
  cursor: pointer;
}

.variable-button:hover {
  border-radius: 10px;
}

.checkboard-container {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

.checkboard-row {
  display: flex;
}

.checkboard-cell {
  display: flex;

  align-items: center;
  justify-content: center;

  height: 2rem;
  width: 2rem;

  border: 1px solid black;
}
